{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="form-style-5">
            <form method="POST">
                {% csrf_token %}
                <legend><span class="number">1</span> Edit Details</legend>
                <input type="text" name="stdID" Placeholder="Student ID *" style="color:black;">
                <br>
                <input type="submit">
            </form>
        </div>
        <div class="form-style-5">
            {% if message %}
                <div class="alert alert-success" role="alert">
                  {{message}}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
              <div class="form-group">
                <label for="StudentID">Student ID</label>
                <input type="text" class="form-control" id="StudentID" name="std_id" value="{{std_detail.std_id}}" style="color:black;" readonly>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">First Name</label>
                  <input type="text" class="form-control" id="inputEmail4" name="first_name" value="{{std_detail.first_name}}" style="color:black;">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Middle Name</label>
                  <input type="text" class="form-control" id="inputPassword4" name="middle_name" value="{{std_detail.middle_name}}" style="color:black;">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword5">Last Name</label>
                  <input type="Text" class="form-control" id="inputPassword5" name="last_name" value="{{std_detail.last_name}}" style="color:black;">
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputFaculty">Faculty</label>
                      <input type="Text" class="form-control" id="inputFaculty" name="faculty" value="{{std_detail.faculty}}" style="color:black;" readonly>
                  </div>
                  <div class="form-group col-md-6">
                      <div class="form-group col-md-6">
                          <label for="inputCity">Phone</label>
                          <input type="text" class="form-control" id="inputCity" name="phone" value="{{std_detail.phone}}" style="color:black;">
                      </div>
                  </div>
              </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address" value="{{std_detail.address}}" style="color:black;">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" value="{{std_detail.email}}" style="color:black;">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
<style>
    input{
        color:black;
    }
</style>
{% endblock %}